/* Importa los archivos CSS modulares */
@import "./sections.css";
@import "./layout.css";
@import "./themes.css";

@import "./home.css";
@import "./about.css";
@import "./proyectos.css";
@import "./skills.css";
@import "./contacto.css";
@import "./footer.css";

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

:root {
  --color-principal: #8f06df;
  --color-secundario: #00ffcc;
}

/*GENERAL*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
html {
  font-family: "Ubuntu", sans-serif;
}
/* Puedes agregar aquí estilos globales o específicos del proyecto */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-size: 16px;
  line-height: 1.5;
}

/* Estilos globales */
#container {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
  /* Ajustado para 6 secciones */
  position: relative;
  transition: transform 0.5s ease;
  max-width: 100%;
}

/*LOADER*/
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #1f1f1f; /* Fondo opaco */
  overflow: hidden;
  transition: transform 1s ease, opacity 1s ease; /* Transiciones para animación */
}

.loader.fade-out {
  transform: scale(0); /* Reducir el tamaño a 0 */
  opacity: 0; /* Hacerlo transparente */
}

.loader::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  animation: abstractSmoke 15s infinite linear;
  transform-origin: center;
  -webkit-animation: abstractSmoke 15s infinite linear;
}

@keyframes abstractSmoke {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.5) rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: scale(2) rotate(360deg);
    opacity: 1;
  }
}

.bars-common {
  height: 4vw;
  width: 1vw;
  margin: auto;
  position: absolute;
  box-shadow: 0 0 0 0.1vw cyan, 0 0 1vw 0 cyan, inset 0 0 0.5vw 0 cyan;
}

.bar-one {
  left: 0;
  right: 4vw;
  top: 0;
  bottom: 0;
  animation: barAnim 1s 0.33s ease infinite;
}

.bar-two {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: barAnim 1s 0.66s ease infinite;
}

.bar-three {
  left: 4vw;
  right: 0;
  top: 0;
  bottom: 0;
  animation: barAnim 1s 0.99s ease infinite;
}

@keyframes barAnim {
  0%,
  100% {
    box-shadow: 0 0 0 0.1vw cyan, 0 0 1vw 0 cyan, inset 0 0 0.5vw 0 cyan;
  }
  50% {
    box-shadow: 0 0 0 0.1vw var(--neon2), 0 0 1vw 0 var(--neon2),
      inset 0 0 0.5vw 0 var(--neon2);
  }
}

.squares-common {
  height: 8vw;
  width: 8vw;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 0 0.1vw cyan, 0 0 1vw 0 cyan, inset 0 0 0.5vw 0 cyan;
}

.square-one {
  animation: squareOne 4s 0.99s ease infinite;
}

@keyframes squareOne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

.square-two {
  animation: squareTwo 4s 0.99s ease infinite;
}

@keyframes squareTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/* Estilos para las líneas indicadoras */
.section-indicator {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicator {
  width: 15px;
  height: 3px;
  background-color: #ccc;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: var(--color-principal); /* Color base del neón */
  box-shadow: 0 0 10px var(--color-principal), 0 0 20px var(--color-principal),
    0 0 30px var(--color-principal) 0 0 40px var(--color-principal);
  transform: scale(1.3); /* Aumenta el tamaño para destacar */
}
