/* Pseudo-elemento ::before para el fondo negro */
#section3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3333338c; /* Fondo negro con opacidad */
  z-index: 0; /* Asegura que esté detrás del contenido */
}

/* Estilo para el video de fondo */
.proyectos-video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#proyectos-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.row {
  margin: 0;
  padding: 0;
}
